header {
  border-bottom: 1px solid gray;
  padding: 20px;
}
nav {
  border-right: 1px solid gray;
  width: 200px;
  height: 600px;
  float: left;
}
nav ol {
  list-style: none;
}
article {
  float: left;
  padding: 20px;
}
article h2 {
  color: red;
}

/* css파일을 따로 분리함으로 단순노가다작업이 적어짐 */
